<div class="margin">
  <div class="card">
    <div class="card-header">
      <h2>Productos</h2>
    </div>
    <div class="card-body row">
      <div class="col-lg-4 mb-3" *ngFor="let producto of productos; let indice = index">
        <div class="card">
          <img
            src="{{producto.thumbnailUrl}}"
            class="card-img-top"
            alt=""
          />
          <div class="card-body">
            <h5 class="card-title">{{producto.title}}</h5>
            <p class="card-text">Precio: $5000</p>
            <div class="col-lg-7">
              <div class="input-group mb-3">
                <button class="input-group-text btn btn-primary">
                  <strong>-</strong>
                </button>
                <input type="text" class="form-control" value="0" />
                <button class="input-group-text btn btn-primary">
                  <strong>+</strong>
                </button>
              </div>
            </div>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
